<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
<div class="overflow-hidden whitespace-nowrap">
    <div class="marquee-content text-xl font-semibold text-blue-600">
      This is a simple marquee using TailwindCSS!
    </div>
  </div>
</div>
