    .marquee {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      box-sizing: border-box;
      display: inline-block;
    }

    .marquee-content {
      display: inline-block;
      animation: scroll 10s linear infinite;
    }

    @keyframes scroll {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
